// ====== BREAKPOINTS ======
$breakpoints: (
  'bp-mob': 576px,
  'bp-tablet': 768px,
  'bp-desctop': 992px,
  'bp-warframe': 1500px,
);

// ====== SPACING SYSTEM ======
$spacing-base: 1rem;
$spacing-scale: (
  '0': 0,
  '1': $spacing-base * 0.25,  // 4px
  '2': $spacing-base * 0.5,   // 8px
  '3': $spacing-base * 1,         // 16px
  '4': $spacing-base * 1.5,   // 24px
  '5': $spacing-base * 3,     // 48px
  'auto': auto
);

// ====== FONT SIZES ======
$font-sizes: (
  'sm': 0.875rem, // 14px
  'base': 1rem,     // 16px
  'lg': 1.25rem,  // 20px
  'xl': 1.5rem,   // 24px
  '2xl': 2rem,      // 32px
  '3xl': 3rem    // 64px
);

:root {
  // Semantic colors
    --color-success:  hsl(138, 87%, 69%);
    --color-warning: hsl(60, 87%, 51%);
    --color-error: hsl(6, 100%, 60%);
    --color-info: hsl(171, 72%, 77%);
    --color-accent: hsl(210, 40%, 96%);
}

$z-layers: (
  'auto': auto,
  'base': 1,
  'dropdown': 10,
  'sticky': 100,
  'modal': 1000,
  'toast': 1100,
  'tooltip': 1200
);

$point: (
  'mob': 320px,
  'small': 660px,
  'medium': 960px,
  'large': 1260px,
  'xlarge': 1440px
);
