html {
  // Устанавливаем цвет фона по умолчанию. Он будет переопределен темой.
  background-color: var(--bg-colorPrimary);
  color: var(--text-colorPrimary);
  font-size: 16px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg-colorPrimary);
  color: var(--text-colorPrimary);
  min-height: 100vh;

  // transition:
  //   background-color var(--transition-duration) var(--transition-timing),
  //   color var(--transition-duration) var(--transition-timing);
  
  // Accessibility support
  // &.using-keyboard {
  //   :focus-visible {
  //     outline: var(--outline-width) var(--outline-style) var(--color-focus);
  //     outline-offset: 2px;
  //   }
  // }
}
